body{
        background: #303030;
    }

h2{
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 2.5%;
    line-height: 50px;
}

p{
        font-family: 'Semplicita Modern', Helvetica, serif;
        font-weight: light;
        color: #ffffff;
        font-size: 30px;
        margin: 0 2.5%;
        line-height: 40px;
    }	

main{
        text-align: left;
        width: auto;
        margin: 0 0 0 100px;
    }

.box-02 {
        position: relative;
        width: 940px;
        margin: 0 auto;
    } 