form{
    margin: 50px 0;
}

form label{
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: light;
    font-size: 20px;
    color: #ffffff;
        line-height: 40px;
}

input {
    text-align: left;
}    

.contact {
    margin-top: 20px;
}

.primeira-linha {
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: light;
    text-align: left;
    display: inline-block;
        font-size: 20px;
        padding: 5px 0px 5px 5px;
        width: 22%;
}

#nomecompleto{
        margin: 0 0 20px -48px;
}

#empresa{
        margin: 0 0 20px 20px;
}

.segunda-linha {
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: light;
    text-align: left;
        display: block;
        font-size: 20px;
        padding: 5px 0px 5px 5px;
        width: 22%;
}

#email{
    margin: 0 0 20px -48px;
}

#celular{
    margin: 0 0 20px -48px;
}

.terceira-linha{
font-family: 'Semplicita Modern', Helvetica, serif;
font-family: 'Semplicita Modern', Helvetica, serif;
font-weight: light;
text-align: left;
    display: block;
    font-size: 20px;
    margin: 0 0 20px -48px;
    width: 100%;
    padding: 5px 0px 5px 5px;
}

.input-padrao-04{
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: light;
    text-align: left;
        display: block;
        font-size: 20px;
        margin: 0 0 20px -48px;
        width: 100%;
        padding: 5px 0px 0px 5px;
    }

.input-padrao-05{
        font-family: 'Semplicita Modern', Helvetica, serif;
        font-family: 'Semplicita Modern', Helvetica, serif;
        font-weight: light;
        text-align: left;
            display: inline;
            font-size: 20px;
            margin: 10px 10px 10px -48px;
        }

.input-padrao-06{
            font-family: 'Semplicita Modern', Helvetica, serif;
            font-family: 'Semplicita Modern', Helvetica, serif;
            font-weight: light;
            text-align: left;
                display: block;
                font-size: 20px;
                margin: 10px 10px 10px -48px;
            }

.contact{
    display: block;
    margin: 0 0 20px -48px;
}

#checks{
display: inline-block;
} 

.enviar{
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
        margin: 0 0 20px -48px;
        width: 25%;
        padding: 15px 15px 15px 15px;
        background: #CC0866;
        transition: 1s;
        color: #ffffff;
            border: none;           
}

.enviar:hover{
    font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: light;
    text-align: left;
    font-size: 15px;
    width: 25%;
    border: bold;
    background: linear-gradient(to right, #CC0866, #3A35EB);
    background-size: 300% 100%;
        animation-name: gradient-animation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
}

@keyframes gradient-animation{
0%{
    background-position-x: 0%;
}
100%{
    background-position-x: 100%;
}
}

.enviar:active{
font-family: 'Semplicita Modern', Helvetica, serif;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
        width: 25%;
        padding: 15px 15px 15px 15px;
        background: black;
        color: #ffffff;
            border: none;
    }
