@font-face	{
        font-family: 'Semplicita Modern';
        src: url('./font/Semplicita Modern Light.otf') format('opentype'); 
        font-weight: light; 
        font-style: light;
    }

@font-face	{
        font-family: 'Semplicita Modern';
        src: url('./font/Semplicita Modern Book.otf') format('opentype'); 
        font-weight: normal; 
        font-style: normal;
            }

@font-face	{
        font-family: 'Semplicita Modern';
        src: url('./font/Semplicita Modern Bold.otf') format('opentype'); 
        font-weight: bold; 
        font-style: bold;
            }